body {
  color: white;
  background-color: black;
  font-family: "Courier New", Courier, monospace
}
.center {
  text-align: center;
}
.heading {
  color: beige;
  text-align: center;
}
.strong {
  color: red;
  font-size: 150%;
  font-weight: bold;
}
.unreadable {
    color: black;
    background-color: black;
}
.text {
    text-align: justify;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
a {
    color: cyan
}
